body {
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

#part1content {
    content: "";
    background-image: url(images/background.jpg);
    position: absolute;
    /*background: transparent;/*linear-gradient(rgba(249, 119, 76,.3), rgba(128, 42, 12,.02));*/
}

header {
    margin: 2em;
    top: 1em;
    bottom: 1em;
}

header > ul {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 0em;
}

header > ul > li {
    list-style-type: none;
    padding: 0.5em;
    margin: 1em;
    color: #FFCC00;
    font-size: 1.5em;
    font-weight: 900;
}

a:link, a:visited {
    color: #FFCC00;
    text-decoration: none;
}

a:hover {
    color: #FFCC00;opacity:0.4;
    text-decoration: underline;
}

.about {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 75%;
    margin: 0 auto;
}

div#myimage {
    flex:1;
    border-left: 4px blue;

}

div#myimage > img {
    width: 80%;
    height: 80%;
    float: right;
    object-fit: contain;
}

div#myintro {
    flex: 1;
    position: relative;
    color: #FFCC00;
}

h1 {
    font-size: 4em;
}

.contact {
    position: fixed;
    left: 30px;
    font-size: 20px;
    color: #FFCC00;
    border: none;
    background: none;
    cursor: pointer;
    bottom: 0px;
    z-index: 2;
}

.contact#logo {
    background-color:white;
    font-size: 10px;
}

.contact i {
    padding: 10px;
}

.contact::after {
    content: "";
    display: block;
    width: 1px;
    height: 150px;
    background-color: #FFCC00;
    margin: 0 auto;
}