html {
  scroll-behavior: smooth; /*https://www.youtube.com/watch?v=_yTW9FvN4N8*/
}

body {
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
  overflow: auto;
}

:root {
  --coral: #ff5851;
  --background-color: white;
  --gray: #989898;
}

a {
  display: inline-block;
  transition: color 250ms ease-in;
}

a:link,
a:visited {
  /*ALL LINKS*/
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--gray);
  text-decoration: none;
}

/* -------------ANIMATION - KEYFRAMES ------------------*/

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes translatedown {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes translatedown {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes translatedown {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes translateright {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes translateright {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes translateright {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes translateleft {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/*---------------NAVIGATION ---- ------------------*/

nav {
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  position: fixed;
  z-index: 11;
  background-color: var(--background-color);
}

.nav {
  opacity: 0;
  animation: fadeIn 500ms ease-in-out 1000ms 1 normal forwards;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 2vmax;
  margin-block-end: 2vmax;
}

nav > ul > li {
  list-style-type: none;
  padding: 0.5vmax 2vmax;
  color: var(--coral);
  font-size: 1.5vmax;
  font-weight: 900;
}

nav > ul > li > a {
  border-bottom: 1px solid transparent;
  transition: border 200ms ease-in;
}

nav > ul > li > a:hover {
  border-color: var(--gray);
}

/*--------------------CONTACT SIDEBAR--------------*/

.contact {
  position: fixed;
  left: 1.5vmax;
  font-size: 1.4vmax;
  color: var(--coral);
  border: none;
  background: none;
  cursor: pointer;
  bottom: 0px;
  z-index: 11;
  opacity: 0;
  animation: fadeIn 500ms ease-in-out 1000ms 1 normal forwards;
}

.contact i {
  padding: 0.7vmax;
  color: inherit;
  transition: transform 250ms ease-in;
}

.contact i:hover {
  transform: translate(0px, -5px);
}

.contact::after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  background-color: var(--coral);
  margin: 0 auto;
}

/*--------------------------MAIN------------------*/

.contents {
  /* all the content */
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.page {
  box-sizing: border-box;
}

.pageheight {
  /* each page's content*/
  height: 100vh;
}

.section {
  /*sections within a page*/
  width: 90%;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-------------------------HELLO------------------*/
#hello {
  padding-top: 8vmax;
  position: relative;
}

.intro {
  display: grid;
  grid-gap: 1vmax;
  grid-template-columns: 40% auto;
  /* height: ; */
}

#hellotext {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
  background-color: var(--coral);
  color: var(--background-color);
  font-size: 6vmax;
  font-weight: bold;
  text-align: right;
  animation: translateright 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -webkit-animation: translateright 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -moz-animation: translateright 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
}

#introtext {
  padding: 2vmax;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: var(--coral);
  font-size: 1.5vmax;
  font-weight: regular;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: var(--background-color); */
  animation: translateleft 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -webkit-animation: translateleft 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -moz-animation: translateleft 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
}

#intro2 {
  font-size: 3vmax;
  font-weight: bold;
  /* text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3); */
}

#intro4 {
  color: var(--gray);
  font-style: italic;
  /* font-weight: bold; */
}

@media (max-width: 414px) {
  .intro {
    display: inline-block;
  }
  #hellotext {
    display: none;
  }
}

#lookdown {
  box-sizing: border-box;
  margin: 5vmax;
  padding: 0 40%;
  text-align: center;
  font-size: 2vmax;
  color: var(--coral);
  border: none;
  background: var(--background-color);
}

#lookdown > i {
  opacity: 0;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: translatedown 2000ms ease-in-out 1300ms 4 alternate,
    fadeIn 2000ms ease-in-out 1300ms 4 alternate;
  -moz-animation: translatedown 2000ms ease-in-out 1300ms 4 alternate,
    fadeIn 2000ms ease-in-out 1300ms 4 alternate;
  -webkit-animation: translatedown 2000ms ease-in-out 1300ms 4 alternate,
    fadeIn 2000ms ease-in-out 1300ms 4 alternate;
}

/*-----------------------ABOUT------------------*/
#about {
  padding-top: 13vmax;
}

.about {
  display: grid;
  grid-gap: 1vmax;
  grid-template-columns: 30% 70%;
}

#aboutimg {
  animation: translateright 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -webkit-animation: translateright 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -moz-animation: translateright 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
}

#aboutimg > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(100%);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#aboutimg > img:hover {
  filter: grayscale(0%);
}

#abouttext {
  padding: 1vmax;
  background-color: var(--coral);
  color: var(--background-color);
  font-size: 1vmax;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 25% 75%;
  grid-template-columns: 50% 50%;
  animation: translateleft 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -webkit-animation: translateleft 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -moz-animation: translateleft 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
}

#abouttext.abtxt {
  width: 100%;
  height: 100%;
}

#abouttext > #abouttext1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*------------------PROJECTS--------------------*/
#projects {
  padding-top: 8vmax;
}

.projects > #projectstitle {
  color: var(--gray);
  font-size: 2vmax;
  animation: translateright 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -webkit-animation: translateright 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -moz-animation: translateright 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
}

.projects > #projectstitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--coral);
}

#projectsnav {
  animation: translateleft 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -webkit-animation: translateleft 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
  -moz-animation: translateleft 1000ms ease-in-out 0s 1 normal none,
    fadeIn 1000ms ease-in 0s 1 normal forwards;
}

#projectsnav > ul {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 0em;
}

#projectsnav > ul > li {
  list-style-type: none;
  padding: 1vmax;
  color: var(--coral);
  font-size: 1.5vmax;
  font-weight: 900;
}

#projectsnav > ul > li > a {
  border-bottom: 1px solid transparent;
  transition: border 200ms ease-in;
}

#projectsnav > ul > li > a:hover {
  border-color: var(--gray);
}

.projectlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 auto;
  border-bottom: 4px dotted var(--gray);
}

.projectblock {
  position: relative;
  display: grid;
  grid-template-rows: 80% 20%;
  flex: 0 0 auto; /*flex grow, flex shrink, flex basis*/
  width: 20em;
  height: 25em;
  /*background-color: var(--coral);;*/
  color: var(--background-color);
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5em;
}

.projectblock > img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.projectblock > .proj {
  padding: 2px;
  color: var(--gray);
  font-weight: bold;
}

.projectblock > .proj > .course {
  color: var(--coral);
}

.projectblock > .proj > .tech {
  color: var(--gray);
  font-weight: normal;
}

.projectblock > .overlay {
  /*https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 96%;
  width: 96%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: linear-gradient(to bottom right, var(--gray), var(--coral));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--background-color);
  padding: 0.5em;
}

.projectblock:hover .overlay {
  opacity: 0.9;
}

.projectblock > .overlay > .icon {
  font-size: 2.6em;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

/*-----------------FOOTER-CONTACT-----------------------*/

#footer {
  padding-top: 10em;
}

.footer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 30% 70%;
}

#getintouchtext {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
  background-color: var(--coral);
  color: var(--background-color);
  /* font-size: 8rem; */
  font-weight: bold;
  text-align: right;
}

/* #contact {
  position: relative;
  bottom: 0em;
  left: 0em;
  height: 75px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--coral);;
  color: var(--background-color);
  padding: 1em 0;
  margin-top: 3em;
}

#contact > #contactcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.contactitem {
  display: inline-block;
  padding: 1em;
} */

/*---------------TOP (chevron nav to top)-------------*/

body::before {
  content: "";
  width: 5vmax;
  height: 5vmax;
  background: var(--background-color);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
}

body > a {
  display: inline-block;
}
.top {
  position: fixed;
  right: 1.5vmax;
  bottom: 1.5vmax;
  font-size: 1.4vmax;
  color: var(--coral);
  border: none;
  background: var(--background-color);
  cursor: pointer;
  z-index: 10;
  display: inline-block;
  opacity: 0;
  animation: fadeIn 500ms ease-in-out 1000ms 1 normal forwards;
}

.top i {
  padding: 1vmax;
  transition: transform 250ms ease-in;
}

.top i:hover {
  transform: translate(0px, -5px);
}
/*#####################################################*/
